@import 'consts';

*{
    margin: 0;
    padding: 0;
}



// !  Burger

.b-a {
   transition: all .25s;
   content: "";
   position: absolute;
   left: 0;
   height: 6px;
   width: 30px;
   border-radius: 15px;
   background-color: rgba(255, 255, 255, 0.95);
}
#menu-collapsed {
   display: none;
   transition: all .25s;
   position: fixed;
   top: 10px;
   left: 9px;
   height: 36px;
   width: 36px;
   z-index: 3;
   cursor: pointer;
   ul {
      transition: all 0s;
      position: fixed;
      left: -9000px;
   }
}
.bar {
   @extend .b-a;
   position: fixed;
   left: 12px;
   top: 24px;
   &:before {
      @extend .b-a;
      top: -8px;
   }
   &:after {
      @extend .b-a;
      top: 8px;
   }
}
.b-a-expanded {
   transition: all .25s;
   top: -0px;
}
.menu-expanded {
   transition: all .25s;
   text-align: center;
   line-height: 20px;
   height: 50%;
   width: 100%;
   border-radius: 0px;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.85);
   ul {
      transition: all 0s;
      position: relative;
      left: 0 !important;
      width: 100%;
      z-index: 2;
      background: rgba(0, 0, 0, 0.7);
      margin-top: -10px;
      li{
         margin-top: 20px;
      }
   }
   a {
      transition: all .15s;
      text-decoration: none;
      font-size: 2em;
      padding: 5px;
      color: #fff;
      display:block;
      &:hover {
         background-color:rgba(white, .8);
         transition: all .15s;
         letter-spacing: 2px;
         color:#333;
         border: 1px solid rgba(255, 255, 255, .15);
      }
   }
   .bar {
      background-color: transparent;
      transition: all .25s;
      &:before {
         @extend .b-a-expanded;
         transform: rotate(45deg);
      }
      &:after {
         @extend .b-a-expanded;
         transform: rotate(-45deg);
      }
   }
}
.row {
   padding-top:150px;
}
h1 {
   font-size: 3em;
}
h3 {
   color:#999;
}
p {
   line-height: 260%;
   letter-spacing:1px;
}

#cancel{
   color: $w;
}

#cancel_list:hover{
   background-color:rgba(white, .8);
   transition: all .15s;
   #cancel{
      color: #333;
   }
}

// ! Header

header{
    background-image: url(../img/antique-cafe-bg-01.jpg);
    min-height: 1064px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    #nav{
        top: 0;
        width: 100%;
        height: 68px;
        display: flex;
        justify-content: flex-end;
        position: fixed;
        background-color:transparent;
        transition: 0.6s;
        ul{
            list-style: none;
            display: flex;
            justify-content: space-between;
            margin-right: 63px + 16px;
            margin-top: 32px;
            transition: 0.6s;
            a{
                text-decoration: none;
                color: $beige;
                font-weight: 400;
                font-family: Raleway, sans-serif;
                font-size: 24px;
                margin-left: 75px;
                margin-top: 32px;
            }
        }
    }
    .container_1{
        padding-top: 12rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
         .main_text{
            background: $bgblack;
            width: 420px;
            height: 196px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1{
               color: $w;
               font-family: $oswald;
               font-weight: 700;
               font-size: 3rem;
               transition: 0.6s;
            }
            h2{
                color:$beige;
                transition: 0.6s;
                font-size: 19px;
                font-family:Raleway, sans-serif;
            }
         }
    }
    .description{
        background-color: $bgblack;
        margin-top: 20px;
        width: 340px;
        height: 160px;
        color: $w;
        padding: 40px;
        font-weight: 300;
        line-height: 32px;
        font-size: 16px;
        span{
            color: rgb(255, 255, 102)
        }
    };
    #explore{
        width: 228px;
        height: 80px;
        margin-top: 20px;
        color:$beige;
        border-radius: 0.5rem;
        border: none;
        background: $bgblack;
        font-size: 1.2rem;
        line-height: 2rem;
        transition: 0.5s;
        #coffee_icon{
            width: 23px;
            height: 19px;
        }
    }
}

.scrolled{
    background: $bgblack;
    transition: 1s;
    ul{
        margin-top: 14px !important;
    }
}

#explore:hover{
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
   font-size: 21px;
}

.main_text:hover{
   #main_header_text{
      color: $beige;
   }
   #main_header_paragraph{
      color: $w;
   }
}


@media all and(max-width: 900px){
   #menu-collapsed{
      display: block;
   }
   #nav{
      background: transparent !important;
      ul{
         display: none !important;
      }
   }

}

@media all and(max-width:950px){
   header{
      min-height: 750px;
      background-position: center;
   }
   .container_1{
      padding-top: 80px !important;
   }
}

@media all and(max-width:500px){
   header{
      background-position: inherit !important;
   }
   .main_text{
      width:90% !important;
   };
   .description{
      width: 70% !important;
   }
}

@media all and(max-width:430px){
   .description{
      font-size: 16px !important;
      line-height: 20px !important;
   }
}

@media all and(max-width: 420px){
   header{
      background-position: center !important;
   }
}